:root {
    --cor-primaria: #caded3;
    --cor-secundaria: #254336;
    --cor-terciaria: #B7B597;
    --cor-quartenaria: #f5f3ed;


}




* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body {
    height: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}


.logo {
    color: #254336;
    font-size: 2.5rem;
    padding: 3% 0% 0% 11%;
   
}


.container {
    padding: 5% 10%;
    display: flex;
    align-items: center;

    gap: 82px;
}


.conteudoPrincipal {
    /* Primeira section, com area de texto e botoes */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 57rem;
    width: 100%;

}


.areaInput {
    /* Div com os form e o text area */
    display: flex;
    justify-content: center;
    height: 100%;

}


.areaText1 {
    /* estilização do textarea */
    width: 900px;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    overflow-wrap: break-word;
    resize: none;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 10px;
    color: var(--cor-secundaria);

}


.areaText1::placeholder {
    color: #928b8b;
}


.areaText1:focus {
    border-color: #0A3871;
    /* Cor da borda ao focar */
    outline: none;
    /* Remove o contorno padrão do navegador */
}


.infoButtons {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 36px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}


.imgInfor {
    width: 16px;
    height: 16px;
}


.pInfo {
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    line-height: 18px;
    white-space: nowrap;
}


/* Estilização dos botões */
.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.botao1,
.botao2 {
    width: 328px;
    height: 67px;
    border-radius: 40px;
    border: solid 1px;
    cursor: pointer;
}


.botao1 {
    color: #ffff;
    background: var(--cor-secundaria);
}


.botao2 {
    color: var(--cor-secundaria);
    background: var(--cor-quartenaria);
}


/* Inicio side B */




.container2 {
    /* Inicio da section 2 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-quartenaria);
    width: 50%;
    height: 57rem;
    border-radius: 32px;
    overflow: hidden;
    /* Adicionado overflow: hidden */
    transition: all 0.3s ease-in-out;
   
}


.imagem1 {
    margin-top: 60%;
    width: 336px;
    height: 304px;
}


.form2 {
    /* form da segunda section */
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 70%;
    text-align: center;
    border: none;
    background-color: var(--cor-quartenaria);
}

h4 {
    font-size: 20px;
    color: #0A3871;
}

.areaText2 {
    /* estilização do textarea 2 */
    width: 336px;
    height: 70%;
    border: none;
    text-align: center;
    overflow-wrap: break-word;
    overflow: hidden;
    resize: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-secundaria);
    transition: all 0.3s ease-in-out;
    background-color: var(--cor-quartenaria);
}


.areaText2::placeholder {
    color: var(--cor-secundaria);
}


.areaText2:focus {

    outline: none;
    /* Remove o contorno padrão do navegador */
}


.botao3 {
    width: 316px;
    height: 67px;
    border-radius: 40px;
    border: solid 1px var(--cor-secundaria);
    cursor: pointer;
    color: #ffffff;
    background-color: var(--cor-secundaria);
}



.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
    height: auto;
    padding: 10px 0px;
}


.sm {
    display: flex;
    gap: 10px;
}


.smLink {
    width: 30px;
    height: px;
}


.textRodape {
    margin-top: 10px;
    color: #ffffff
}



/* Classe para esconder a imagem */
.hidden {
    display: none;
}



/* Classe para expandir a área de texto */
.expanded {
    width: 100%;
    height: 100%;
}


/* MEDIAS TABLETS E LEPTOPS */

@media (max-width: 1024px) and (min-width: 601px) {

    .logo {
        height: 30px;
        width: auto;
    }

    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cor-primaria);
    }

    .conteudoPrincipal {
        height: 40rem;
    }

    .areaInput {
        height: 100%;
        width: 100%;
    }

    .form1 {
        height: 100%;
        width: 100%;
    }

    .areaText1 {
        height: 80%;
        width: 100%;
    }

    .infoButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .info {
        margin-right: 50%;

    }


    .pInfo {
        font-size: 10px;
    }

    .buttons {
        gap: 13%;
        margin-right: 5%;
    }

    .container2 {
        height: 22rem;
        width: 98%;
    }

    .imagem1 {
        display: none;

    }

    .areaText2 {
        overflow: hidden;
    }

    .botao3 {
        width: 200px;

    }

    .rodape {
        width: auto;
    }

    .textRodape {
        text-align: center;
        font-size: 8px;
    }

}




/* MEDIA CELULARES */

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cor-primaria);

    }

    .conteudoPrincipal {
        height: 22rem;
    }

    .areaInput {
        width: auto;
        height: 100%;
    }

    .logo {
        font-size: 1.5rem;
        text-align: center;
    }

    .areaText1 {
        font-size: 1.5rem;
        line-height: 24px;
        height: 100%;
        width: 34rem;
        

    }

    .infoButtons {
        justify-content: center;
        align-items: center;

    }

    .pInfo {
        font-size: 10px;
    }

    .buttons {
        flex-direction: column;
    }

    .botao1,
    .botao2 {
        width: 200px;
        height: 55px;
    }

    .container2 {
        height: 11rem;
        margin-left: 7%;
    }

    .imagem1 {
        display: none;

    }

    .areaText2 {
        overflow: hidden;

    }



    .botao3 {
        width: 200px;

    }

    .rodape {
        width: 100%;
    }

    .textRodape {
        text-align: center;
        font-size: 8px;
    }
}